.name {
  background-image: url("imran.jpg");
  /*display: flex;
/* background-size: 100%;
  background-repeat: no-repeat;
 margin: 10px;
  border: 100px ;


  /* background-color: tomato;*/
}
.ji{
  background-color: aqua;
  border-bottom: 50%;
  border-style: double;
  border-left-style: solid;
  font-family: 'Courier New', Courier, monospace;
}